<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.com.polnocetti.socialpoweramp"
    android:installLocation="internalOnly"
    android:versionCode="10"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" >
    </uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"/>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:description="@string/appDescription"
        android:icon="@drawable/powerampnus"
        android:label="@string/appname" >

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver
            android:name=".ButtonWidget"
            android:label="@string/appname" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- Broadcast Receiver that will also process our self created action -->
                <action android:name="ACTION_WIDGET_RECEIVER" />
                <action android:name="ACTION_WIDGET_ABOUT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/powerampwidget" />
        </receiver>

        <activity
            android:name=".ButtonWidgetConfigure"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.appwidget.action.ACTION_WIDGET_CONFIG" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" android:icon="@drawable/widgeticon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".facebook.MainActivity"
            android:label="@string/appname"
            android:screenOrientation="portrait" android:icon="@drawable/widgeticonfb" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".facebook.FacebookConnect"
            android:label="@string/appname" android:icon="@drawable/widgeticonfb" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
    </application>

</manifest>